<head>
  <style>
  table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.buttonStyle {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}


  </style>
  </head>
  <body>
<table>
  <thead>

    <th>auteur</th>
    <th>Date d'Edition</th>
    <th>Titre</th>
  </thead>
  <tbody>
    <tr *ngFor="let document of document">
      <td>{{document.auteur}}</td>
      <td>{{document.dateEdition}}</td>
      <td>{{document.titre}}</td>
      <td>
          <button class="buttonStyle" (click)="delete(document.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</body>
